@model hirelink.Models.Job

@{
ViewData["Title"] = "Create New Job";
}

<div class="container px-6 lg:px-32">
    <div class="lg:grid lg:grid-cols-12 lg:gap-x-5 my-2 lg:mt-10">
        <aside class="py-6 px-2 sm:px-6 lg:col-span-3 lg:py-0 lg:px-0">
            <div>
                <h3 class="text-lg font-medium leading-6 text-gray-900 dark:text-neutral-200">Create new job post</h3>
                <p class="mt-1 text-sm text-gray-500">What's the job you're hiring for ?</p>
            </div>
        </aside>
        <form asp-action="Insert" method="POST" class="lg:col-span-9 ">
            <div
                class="shadow sm:overflow-hidden sm:rounded-md bg-white dark:bg-neutral-800 rounded-lg focus:outline-none">
                <div class="space-y-6  py-6 px-4 sm:p-6">
                    <div class="grid grid-cols-6 gap-6">
                        <div asp-validation-summary="ModelOnly" class="text-red-500 text-sm font-normal"></div>
                        <input asp-for="PostedBy" value="@User.Identity.Name" hidden  autocomplete="off" />

                        <div class="col-span-6 sm:col-span-4">
                            <label asp-for="JobTitle" class="label"></label>
                            <input asp-for="JobTitle" autocomplete="off" placeholder="Enter Job title "
                                class="form-input">
                            <span asp-validation-for="JobTitle" class="text-red-500 text-sm font-normal"></span>
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                            <label asp-for="Department" class="label"></label>
                            <input asp-for="Department" class="form-input" placeholder="Enter name of the department" />
                            <span asp-validation-for="Department" class="text-red-500 text-sm font-normal"></span>
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                            <label asp-for="Location" class="label"></label>
                            <input asp-for="Location" class="form-input" placeholder="Enter job location" />
                            <span asp-validation-for="Location" class="text-red-500 text-sm font-normal"></span>
                        </div>

                        <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                            <label asp-for="JobType" class="label"></label>
                            <select asp-for="JobType" class="form-input ">
                                <option value="Full-time">Full-time</option>
                                <option value="Intern">Intern</option>
                                <option value="Contract">Contract</option>
                            </select>
                            <span asp-validation-for="JobType" class="text-red-500 text-sm font-normal"></span>
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <label asp-for="Skills" class="label"></label>
                            <input asp-for="Skills" class="form-input"
                                placeholder="Enter some skills required for the job" />
                            <span asp-validation-for="Skills" class="text-red-500 text-sm font-normal"></span>
                        </div>

                        <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                            <label asp-for="ClientName" class="label"></label>
                            <input asp-for="ClientName" class="form-input" placeholder="Enter  client Name" />
                            <span asp-validation-for="ClientName" class="text-red-500 text-sm font-normal"></span>
                        </div>

                        <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                            <label asp-for="ProjectName" class="label"></label>
                            <input asp-for="ProjectName" class="form-input" placeholder="Enter project name" />
                            <span asp-validation-for="ProjectName" class="text-red-500 text-sm font-normal"></span>
                        </div>

                        <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                            <label asp-for="OwnerName" class="label"></label>
                            <input asp-for="OwnerName" class="form-input" placeholder="Enter owner name" />
                            <span asp-validation-for="OwnerName" class="text-red-500 text-sm font-normal"></span>
                        </div>

                        <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                            <label asp-for="NumberOfOpenings" class="label"></label>
                            <input asp-for="NumberOfOpenings" class="form-input" placeholder="Enter Openings" />
                            <span asp-validation-for="NumberOfOpenings" class="text-red-500 text-sm font-normal"></span>
                        </div>
                    </div>
                </div>
                <div class=" px-4 py-3 text-right sm:px-6">


                    <a type="button" asp-action="jobs"
                        class="inline-flex justify-center rounded-md border border-transparent bg-neutral-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-neutral-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 cursor-pointer">Cancel</a>

                    <input type="submit" value="Save Job"
                        class="inline-flex justify-center rounded-md border border-transparent bg-purple-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 cursor-pointer" />
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


